/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px;
    position: relative;
  }
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }

code {
    font: 0.85em Monaco, Courier, Monospace;
}


a.highlighted, a.highlighted:link {
  color: black;
  text-decoration: none;
  background-position-y: -0%;
  background-image: linear-gradient( white 50%, gold 50%);
  transition: background 500ms ease;
  background-size: 2px;
  background-size: auto 175%;
}

a.highlighted:hover {
  background-position-y: 100%;

}

.dumbarton-home{
    width:50%;
    max-width:300px;
    max-height:150px;
    padding-right: 10px;
    padding-top: 10px;
}

.dumbarton-icon{
  padding-right: 10px;
  padding-left: 2px;
  padding-top: 2px;
}


.dumbarton-spacer {
  padding-bottom: 50px;
  padding-top: 50px;
}


.dumbarton-spacer-sm {
  padding-bottom: 5px;
  padding-top: 5px;
}
.publications {
  text-align: left;
}

/* Layout */
* {
  @include box-sizing(border-box);
}

/* Styling */
.timeline {
  margin: 4em auto;
  position: relative;
  max-width: 46em;
  
  &:before {
    background-color: $color-1;
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 2em;
    width: 2px;
    height: 100%;
  }
}

.timeline-event {
  position: relative;
  
  &:hover {
  
    .timeline-event-icon {
      @include rotate (-45deg);
      background-color: $color-3;
    }
    
    .timeline-event-thumbnail {
      @include box-shadow(inset 40em 0 0 0 $color-3);
    }
  }
}

.timeline-event-copy {
  padding: 2em;
  position: relative;
  top: -1.875em;
  left: 4em;
  width: 80%;
  
  h3 {
    font-size: 1.75em;
  }
  
  h4 {
    font-size: 1.2em;
    margin-bottom: 1.2em;
  }
  
  strong {
    font-weight: 700;
  }
  
  p:not(.timeline-event-thumbnail) {
    padding-bottom: 1.2em;
  }
}

.timeline-event-icon {
  @include transition(transform 0.2s ease-in);
  @include rotate (45deg);
  
  background-color: $color-1;
  outline: 10px solid $color-2;
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 0;
  left: 2em;
  width: 1em;
  height: 1em;
}

.timeline-event-thumbnail {
  @include transition(box-shadow 0.5s ease-in 0.1s);
  color: $color-2;
  font-size: 0.75em;
  
  background-color: $color-1;
  @include box-shadow(inset 0 0 0 0em #ef795a);
  display: inline-block;
  margin-bottom: 1.2em;
  padding: 0.25em 1em 0.2em 1em;
}

.bd-example {
  position: relative;
  padding: 1rem;
  margin: 1rem -15px 0;
  border: solid #f7f7f9;
  border-width: .2rem 0 0;
}

.bd-example::after {
  display: block;
  clear: both;
  content: "";
}