/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }

.social-link {
    a:link{
        color:black;
      }
      a:visited{
        color:purple;
      }
      a:hover{
        color:orange;
      }
      a:focus{
        color:green;
      }
      a:active{
        color:red;
      }
}


a:link{
    color:black;
  }
  a:visited{
    color:black;
  }
  a:hover{
    color:black;
  }
  a:focus{
    color:black;
  }
  a:active{
    color:black;
  }
