{% if site.color-scheme=="demo" %}
<footer class="footer" style="background-color:{{ site.demo-color }};">
    <div class="container">
     <span class="text-white" style="font-family:Courgette;">{{ site.title }}</span>
        {% include social.html %}
    </div>
</footer>
{% else %}
<footer class="footer mt-auto py-3">
    <div class="container">
       <span class="text-white" style="font-family:Courgette;">{{ site.title }}</span>
        {% include social.html %}
    </div>
</footer>
{% endif %}

<script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>