
{% if site.nav-color == "dark" %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
{% elsif site.nav-color == "light"  %}
<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
{% elsif site.nav-color == "transparent"  %}
<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
{% elsif site.nav-color == "primary"  %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
{% elsif site.nav-color == "custom"  %}
<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
{% elsif site.nav-color == "demo"  %}
<nav class="navbar navbar-expand-lg" style="background-color:{{ site.demo-color }};">
{% elsif site.nav-color == "linear-gradiant"  %}
<nav class="navbar navbar-expand-lg" style="background-color: #FF9A8B; background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);">
{% else %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
{% endif %}
  <!-- Optional Icon
  <a href="/index.html"><img src="/assets/img/icons/favicon.ico" class="dumbarton-icon"></a>
  -->
{% if site.nav-color == "demo"  %}
  <a class="navbar-brand text-white" href="/index.html" style="font-family:Courgette;">{{ site.title }}</a>
{% else %}
  <a class="navbar-brand" href="/index.html">{{ site.title }}</a>
{% endif %}
  <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="{{ site.nav-dIcon }}"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        {% for item in site.data.nav.links %}
            {% if site.nav-color == "demo"  %}
              <li class="nav-item">
                  <a href="{{ item.url }}" class="nav-link text-white">{{ item.title }}</a>
              </li>
            {% else %}
              <li class="nav-item">
                  <a href="{{ item.url }}" class="nav-link text-dark">{{ item.title }}</a>
              </li>
            {% endif %}
        {% endfor %}
    </ul>
    <ul class="navbar-nav  justify-content-end">
      <li class="nav-item">
        {% include social.html %}
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
      {% if site.color-scheme == "demo" %}
      <button class="btn btn-light btn-sm my-2 my-sm-0" type="submit">Search</button>
      {% else %}
      <button class="btn btn-dark  btn-sm my-2 my-sm-0" type="submit">Search</button>
      {% endif %}
    </form> 
    
  </div>
</nav>
