
{% if site.nav-color == "dark" %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
{% elsif site.nav-color == "light"  %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
{% else %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
{% endif %}
  <!-- Optional Icon
  <a href="/index.html"><img src="/assets/img/icons/favicon.ico" class="dumbarton-icon"></a>
  -->
  <a class="navbar-brand" href="/index.html">{{ site.title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        {% for item in site.data.nav.links %}
            <li class="nav-item">
                <a href="{{ item.url }}" class="nav-link">{{ item.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <ul class="navbar-nav  justify-content-end">
      <li class="nav-item">
        {% include social.html %}
      </li>
    </ul>
    <!--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    
  </div>
</nav>
