 </h3>
   <div class="row">
      <div class="col-md-3">
         <div class="card mb-4">
            <div class="social-card-header align-middle text-center bg-facebook">
               <i class="fab fa-facebook-square"></i>
            </div>
            <div class="card-body text-center">
               <div class="row">
                  <div class="col border-right">
                     <i class="far fa-thumbs-up text-facebook"></i>
                     <span class="text-muted">Like</span>
                  </div>
                  <div class="col">
                     <i class="fas fa-share-alt text-facebook"></i>
                     <span class="text-muted">Share</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card mb-4">
            <div class="social-card-header align-middle text-center bg-google-plus">
               <i class="fab fa-google-plus-square"></i>
            </div>
            <div class="card-body text-center">
               <div class="row">
                  <div class="col border-right">
                     <i class="fab fa-google-plus-g text-google-plus"></i>
                     <span class="text-muted">Like</span>
                  </div>
                  <div class="col">
                     <i class="fas fa-share-alt text-google-plus"></i>
                     <span class="text-muted">Share</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card mb-4">
            <div class="social-card-header align-middle text-center bg-twitter">
               <i class="fab fa-twitter-square"></i>
            </div>
            <div class="card-body text-center">
               <div class="row">
                  <div class="col border-right">
                     <i class="fab fa-twitter text-twitter"></i>
                     <span class="text-muted">Tweet</span>
                  </div>
                  <div class="col">
                     <i class="fas fa-share-alt text-twitter"></i>
                     <span class="text-muted">Share</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card mb-4">
            <div class="social-card-header align-middle text-center bg-pinterest">
               <i class="fab fa-pinterest-square"></i>
            </div>
            <div class="card-body text-center">
               <div class="row">
                  <div class="col border-right">
                     <i class="fab fa-pinterest-p text-pinterest"></i>
                     <span class="text-muted">Pin</span>
                  </div>
                  <div class="col">
                     <i class="fas fa-share-alt text-pinterest"></i>
                     <span class="text-muted">Share</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <h3 class="mt-3 pb-3 mb-4 font-italic border-bottom">