---
layout: default
---

<div class="card mb-3 mx-auto border-light mb-3" style="max-width: 95%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{ site.profile_image }}" class="card-img rounded-lg" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ page.title }}</h5>
        <p class="card-text">{{ content | markdownify }}</p>
        <p class="card-text"><small class="text-muted">Last updated {{ page.date }}</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card mx-auto" style="max-width: 95%;">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" id="test-list" role="tablist">
      {% for section in site.data.sections %}
        {% if section.first %}
          <li class="nav-item">
            <a class="nav-link active" href="#{{section.id}}" role="tab" aria-controls="{{section.id}}}" aria-selected="true">{{section.name}}</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link"  href="#{{section.id}}" role="tab" aria-controls="{{section.id}}" aria-selected="false">{{section.name}}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="card-body">          
      <div class="tab-content mt-3">
        {% for section in site.data.sections %}
          {% if section.first %}
            {% if section.name == "Publications" %}
              <div class="tab-pane active" id="{{section.id}}" role="tabpanel">
                <h5 class="card-title text-center">{{section.description}}</h5>
                <p class="card-text">{% bibliography -f papers %}</p>
              </div>
            {% else %}
              <div class="tab-pane" id="{{section.id}}" role="tabpanel">
                <p class="card-text">{{section.description}}</p>
              </div>
            {% endif %}
          {% else %}
            {% if section.name == "Bug Bounties" %}
                <div class="tab-pane" id="{{section.id}}" role="tabpanel" aria-labelledby="{{section.id}}-tab">  
                  <h5 class="card-title text-center">{{section.description}}</h5>
                  <p class="card-text">
                      <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Title</th>
                            <th scope="col">CVE</th>
                            <th scope="col">Platform</th>
                            <th scope="col">Vendor</th>
                            <th scope="col">Link</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for entry in site.data.bounties %}
                            <tr>
                              <th scope="row">{{ entry.Date }}</th>
                              <td>{{ entry.Title }}</td>
                              <td>{{ entry.CVE }}</td>
                              <td>{{ entry.Platform }}</td>
                              <td>{{ entry.Vendor }}</td>
                              <td><a href="{{ entry.Link }}"><i class="fas fa-external-link-alt"></i></a></td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                  </p>
                </div>    
            {% elsif section.name == "Presentations" %}
              <div class="tab-pane" id="{{section.id}}" role="tabpanel" aria-labelledby="{{section.id}}-tab">  
                <h5 class="card-title text-center">{{section.description}}</h5>
                <p class="card-text">{% bibliography -f presentations %}</p>              
              </div>
           {% elsif section.name == "Open Source Software" %}
              <div class="tab-pane" id="{{section.id}}" role="tabpanel" aria-labelledby="{{section.id}}-tab">  
                <h5 class="card-title text-center">{{section.description}}</h5>
                <p class="card-text">
                  <div class="card-columns">
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title that wraps to a new line</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card bg-primary text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
      <footer class="blockquote-footer">
        <small>
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img" src="..." alt="Card image">
  </div>
  <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
                </p>              
              </div>
            {% else %}
              <div class="tab-pane" id="{{section.id}}" role="tabpanel" aria-labelledby="{{section.id}}-tab"> 
                <h5 class="card-title text-center">{{section.description}}</h5>
                <p class="card-text">{{section.content}}</p>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
  </div>
</div>



<!--
<div class="media">
  <img src="{{ site.profile_image }}" class="dumbarton-home" alt="{{ site.author }}">
  <div class="media-body">
    <h5 class="mt-0">{{ page.title }}</h5>
    {{ content | markdownify }}
  </div>
</div>
-->

<script>
    $('#test-list a').on('click', function (e) {
    e.preventDefault()
    $(this).tab('show')
    })
</script>

