---
layout: default
---

<div class="card mb-3 mx-auto border-light mb-3" style="max-width: 95%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{ site.profile_image }}" class="card-img rounded-lg" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ page.title }}</h5>
        <p class="card-text">{{ content | markdownify }}</p>
        <p class="card-text"><small class="text-muted">Last updated {{ page.date }}</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card mx-auto" style="max-width: 95%;">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" id="test-list" role="tablist">
      {% for section in site.data.sections %}
        {% if section.first %}
          <li class="nav-item">
            <a class="nav-link active" href="#{{section.id}}" role="tab" aria-controls="{{section.id}}}" aria-selected="true">{{section.name}}</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link"  href="#{{section.id}}" role="tab" aria-controls="{{section.id}}" aria-selected="false">{{section.name}}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="card-body">          
      <div class="tab-content mt-3">
        {% for section in site.data.sections %}
          {% if section.first %}
            {% if section.name == "Publications" %}
              <div class="tab-pane active" id="{{section.id}}" role="tabpanel">
                <h5 class="card-title text-center">{{section.description}}</h5>
                <p class="card-text">{% bibliography -f papers %}</p>
              </div>
            {% else %}
              <div class="tab-pane" id="{{section.id}}" role="tabpanel">
                <p class="card-text">{{section.description}}</p>
              </div>
            {% endif %}
          {% else %}
            <div class="tab-pane" id="{{section.id}}" role="tabpanel" aria-labelledby="{{section.id}}-tab">  
              <p class="card-text">{{section.description}}</p>
            </div>
          {% endif %}
        {% endfor %}
      </div>
  </div>
</div>


<div class="dumbarton-spacer">
</div>
<!--
<div class="media">
  <img src="{{ site.profile_image }}" class="dumbarton-home" alt="{{ site.author }}">
  <div class="media-body">
    <h5 class="mt-0">{{ page.title }}</h5>
    {{ content | markdownify }}
  </div>
</div>
-->

<script>
    $('#test-list a').on('click', function (e) {
    e.preventDefault()
    $(this).tab('show')
    })
</script>