---
layout: default
---

<div class="card mb-3 mx-auto border-white mb-3" style="max-width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{ site.profile_image }}" class="img-thumbnail rounded float-left" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ page.title }}</h5>
        <p class="card-text">{{ content | markdownify }}</p>
        <ul class="list-unstyled">
          <li class="media my-4">
            <img src="/assets/img/icons/harvard.png" class="mr-3" alt="...">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Harvard</h5>
              <p><u>Graduate School of Arts & Sciences</u></p>
            </div>
          </li>
          <li class="media my-4">
            <img src="/assets/img/icons/princeton.png" class="mr-3" alt="...">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Princeton</h5>
              <p><u>School of Public and International Affairs</u></p>
            </div>
          </li>
        </ul>
        <p class="card-text"><small class="text-muted">Last updated {{ page.date }}</small></p>
      </div>
    </div>
  </div>
</div>

<!-- Recent Work Section --> 
<h5 class="card-title text-center"></h5>
<div class="card mx-auto" style="max-width: 100%;">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" id="test-list" role="tablist">
      {% for section in site.data.sections %}
        {% if section.first %}
          <li class="nav-item">
            <a class="nav-link active" href="#{{section.id}}" role="tab" aria-controls="{{section.id}}}" aria-selected="true">{{section.name}}</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link"  href="#{{section.id}}" role="tab" aria-controls="{{section.id}}" aria-selected="false">{{section.name}}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="card-body">          
      <div class="tab-content mt-3">
        {% for section in site.data.sections %}
          {% if section.first %}
            {% if section.name == "Publications" %}
              <div class="tab-pane active overflow-auto" id="{{section.id}}" role="tabpanel">
                <h5 class="card-title text-center">{{section.description}}</h5>
                <p class="card-text">{% bibliography -f papers %}</p>
              </div>
            {% else %}
              <div class="tab-pane overflow-auto" id="{{section.id}}" role="tabpanel">
                <p class="card-text">{{section.description}}</p>
              </div>
            {% endif %}
          {% else %}
            {% if section.name == "Bug Bounties" %}
                <div class="tab-pane  overflow-auto" id="{{section.id}}" role="tabpanel" aria-labelledby="{{section.id}}-tab">  
                  <h5 class="card-title text-center">{{section.description}}</h5>
                  <p class="card-text">
                      <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Title</th>
                            <th scope="col">CVE</th>
                            <th scope="col">Platform</th>
                            <th scope="col">Vendor</th>
                            <th scope="col">Link</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for entry in site.data.bounties %}
                            <tr>
                              <th scope="row">{{ entry.Date }}</th>
                              <td>{{ entry.Title }}</td>
                              <td>{{ entry.CVE }}</td>
                              <td>{{ entry.Platform }}</td>
                              <td>{{ entry.Vendor }}</td>
                              <td><a href="{{ entry.Link }}"><i class="fas fa-external-link-alt"></i></a></td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                  </p>
                </div>    
            {% elsif section.name == "Presentations" %}
              <div class="tab-pane overflow-auto" id="{{section.id}}" role="tabpanel" aria-labelledby="{{section.id}}-tab">  
                <h5 class="card-title text-center">{{section.description}}</h5>
                <p class="card-text">{% bibliography -f presentations %}</p>              
              </div>
           {% elsif section.name == "Projects" %}
                <!-- TODO  Add project secion-->
            {% else %}
              <div class="tab-pane overflow-auto" id="{{section.id}}" role="tabpanel" aria-labelledby="{{section.id}}-tab"> 
                <h5 class="card-title text-center">{{section.description}}</h5>
                <p class="card-text">{{section.content}}</p>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
  </div>
</div>

<!-- Animate.js Animatin Library
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous"></script>
-->


<script>
    $('#test-list a').on('click', function (e) {
    e.preventDefault()
    $(this).tab('show')
    })
</script> 


<script>
    $(document).ready(function() {
        $(".toast").toast('show');
    });
</script>

